.weatherHour {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  min-width: 35px;

  margin: 0 5px;
}

.weatherHour > h3 {
  margin: 3px 0;
  font-size: 14px;
}
.weatherHour > img {
  user-select: none;
  height: 32px;
  width: 32px;
}
